@font-face {
  font-family: 'KievitPro-Medium';
  src: url('../font/kievitpro-medium.eot'); /* IE9 Compat Modes */
  src: url('../font/kievitpro-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/kievitpro-medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/kievitpro-medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/kievitpro-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/kievitpro-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'KievitPro-Book';
  src: url('../font/kievitpro-book.eot'); /* IE9 Compat Modes */
  src: url('../font/kievitpro-book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/kievitpro-book.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/kievitpro-book.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/kievitpro-book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/kievitpro-book.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'NewEspritPro-Regular';
  src: url('../font/NewEspritITCPro-Rg.eot'); /* IE9 Compat Modes */
  src: url('../font/NewEspritITCPro-Rg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/NewEspritITCPro-Rg.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/NewEspritITCPro-Rg.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/NewEspritITCPro-Rg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/NewEspritITCPro-Rg.svg#svgFontName') format('svg'); /* Legacy iOS */
}
