@font-face {
  font-family: 'NewEspritPro-Regular';
  src: url("../font/newesprit/NewEspritITCPro-Rg.eot");
  /* IE9 Compat Modes */
  src: url("../font/newesprit/NewEspritITCPro-Rg.eot?#iefix") format("embedded-opentype"), url("../font/newesprit/NewEspritITCPro-Rg.woff2") format("woff2"), url("../font/newesprit/NewEspritITCPro-Rg.woff") format("woff"), url("../font/newesprit/NewEspritITCPro-Rg.ttf") format("truetype"), url("../font/newesprit/NewEspritITCPro-Rg.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'NewEspritPro-Italic';
  src: url("../font/newespirt/NewEspritITCPro-It.eot");
  /* IE9 Compat Modes */
  src: url("../font/newespirt/NewEspritITCPro-It.eot?#iefix") format("embedded-opentype"), url("../font/newespirt/NewEspritITCPro-It.woff2") format("woff2"), url("../font/newespirt/NewEspritITCPro-It.woff") format("woff"), url("../font/newespirt/NewEspritITCPro-It.ttf") format("truetype"), url("../font/newespirt/NewEspritITCPro-It.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'NeueHaas-Medium';
  src: url("../font/neuehaas/NHaasGroteskTXPro-65Md.eot");
  /* IE9 Compat Modes */
  src: url("../font/neuehaas/NHaasGroteskTXPro-65Md.eot?#iefix") format("embedded-opentype"), url("../font/neuehaas/NHaasGroteskTXPro-65Md.woff2") format("woff2"), url("../font/neuehaas/NHaasGroteskTXPro-65Md.woff") format("woff"), url("../font/neuehaas/NHaasGroteskTXPro-65Md.ttf") format("truetype"), url("../font/neuehaas/NHaasGroteskTXPro-65Md.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
