@font-face {
  font-family: 'KievitPro-Medium';
  src: url('../font/kievitpro-medium.eot'); /* IE9 Compat Modes */
  src: url('../font/kievitpro-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/kievitpro-medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/kievitpro-medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/kievitpro-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/kievitpro-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
