body
  background-color: white
  font-family: 'NewEspritPro-Regular'
  font-size: 20px
  line-height: 1.6
  color: $black
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -webkit-text-size-adjust: 100%
