.posts
  max-width: 860px
  margin: 0 auto

.post
  background-color: $silver
  height: 480px
  text-transform: lowercase
  cursor: pointer

  img
    repeat: no-repeat

.post_title
  width: 260px

  li

    h2
      margin: 0

    p
      margin: 0
      opacity: 0.3
