$breakpoint-large: 1018px
$breakpoint-small: 640px

$transition: all 0.3s ease-in-out

.posts
  position: relative
  max-width: 680px
  width: 100%
  margin: 200px auto 0
  padding: 0
  z-index: 2

h2
  -webkit-margin-before: 0
  -webkit-margin-after: 10px

.post
  margin-bottom: 120px
  cursor: pointer
  transition: $transition

@media (max-width: $breakpoint-large)

  .posts
    max-width: 580px

@media (max-width: $breakpoint-small)

  .posts
    max-width: 90%
